@import "_shared";

$variants-selected-bgcolor: rgba(white, 0.8);
$variants-hover-bgcolor: rgba(white, 0.4);

#header__title div[name="home"],
#export-selected__variants a {
  color: white;
  cursor: pointer;
}

#header__subtitle {
  position: absolute;
  font-size: 12px;
}

#header__actions,
#actions__export-selected,
.export-selected-variant,
#actions__unselect-all {
  transition-duration: 0.2s;
}

#header__actions {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 32px;
  width: 150px;

  &[disabled="disabled"] {
    opacity: 0;
    visibility: hidden;
  }
}

#actions__export-selected {
  order: 2;

  & textarea {
    position: absolute;
    top: -9999px;
  }

  &:hover + .export-selected-variant {
    opacity: 1;
    visibility: visible;
  }
}

.export-selected-variant {
  order: 1;
  opacity: 0;
  visibility: hidden;
  display: inline-flex;
  flex-direction: column;

  & label {
    border-radius: 2px;
    font-size: 9px;
    line-height: 8px;
    margin: 2px;
    padding: 2px;
    white-space: nowrap;
  }

  & > input {
    display: none;
  }

  & input[type="radio"]:checked + label {
    background-color: $variants-selected-bgcolor;
    color: $main-text-color;
  }

  & input[type="radio"]:not(:checked) + label:hover {
    background-color: $variants-hover-bgcolor;
    color: $main-text-color;
    cursor: pointer;
  }

  &:hover {
    opacity: 1;
    visibility: visible;
  }
}

#actions__separator {
  order: 999;
}

#actions__unselect-all {
  order: 1000;
}

#header__search {
  text-align: left;
  margin-right: 56px;
  min-width: 200px;
  max-width: 500px;
  position: relative;

  & input {
    color: $main-text-color !important;
    width: 100%;
    border: none;
    padding: 4px;
    border-radius: 2px;
  }
}

#header__search-button {
  position: absolute;
  right: -40px;
  top: -4px;
}
