<div id="fullscreen-tooltip__<%= key %>" class="fullscreen-tooltip">
  <div name="inner" class="fullscreen-tooltip__text mdl-shadow--2dp">
    <%= long.html_safe %>
    <span><%= t(".close") %></span>
  </div>
</div>
