var vipnetInterface = {

  remoteStatus: {

    // vipnetInterface.remoteStatus.renderDefault({node_id: "63", suffix: "check-availability"})
    renderDefault: function(args) {
      vipnetInterface.remoteStatus.show({ node_id: args["node_id"], suffix: args["suffix"], divs: ["button"] });
      // hide("status--true", "status--false");
      // lower_label("status--true", "status--true");
    },

    // vipnetInterface.remoteStatus.show({parent_id: "#node-63__check-availability", div: "button"})
    show: function(args) {
      div = $(args["parent_id"] + " div[name='" + args["div"] + "']")
      div.css({
        "opacity" : "1",
        "visibility" : "visible",
        "z-index" : "400"
      });
      return div;
    },

    // vipnetInterface.remoteStatus.hide({parent_id: "#node-63__check-availability", div: "button"})
    hide: function(args) {
      div = $(args["parent_id"] + " div[name='" + args["div"] + "']")
      div.css({
        "opacity" : "0",
        "visibility" : "hidden",
        "z-index" : "200"
      });
      return div;
    },

    // vipnetInterface.remoteStatus.renderSpinner("#node-63__check-availability")
    renderSpinner: function(parent_id) {
      spinnerHTML = $("#nodes__spinner-template").html();
      hidden_button = vipnetInterface.remoteStatus.hide({ parent_id: parent_id, div: "button" });
      $(hidden_button).parent().append(spinnerHTML);
      shown_spinner = vipnetInterface.remoteStatus.show({ parent_id: parent_id, div: "spinner" });
      return shown_spinner;
    },

    // vipnetInterface.remoteStatus.resultFalseHTML({icon: "help", tooltip_text: null, tooltip_key: null})
    // resultFalseHTML: function(args) {
    //   return "\
    //     <div name='status--false'>\
    //       <label class='mdl-button mdl-button--icon mdl-button--accent remote-status__status--false nodes__hover-for-tooltip' disabled>\
    //         <i class='material-icons'>" + args["icon"] + "</i>\
    //       </label>\
    //       <div class='nodes__tooltip--hoverable remote-status__tooltip'>\
    //         <div name='tooltip_text'>" + args["tooltip_text"] + "</div>" +
    //         (args["tooltip_key"] ? "\
    //           <span data-fullscreen-tooltip-key='" + args["tooltip_key"]" + ' class='nodes__link--same-page'><= t('.more') ></span>\
    //           " : "") + "\
    //       </div>\
    //     </div>\
    //   ";
    // },


    // lowerLabel: function(args) {
    //   args["divs"].forEach(function(div) {
    //     $("#node-" + args["node_id"] + "__" + args["suffix"] + " div[name='" + div + "'] label").css({
    //       "z-index" : "200"
    //     });
    //   });
    // },

  },

};

jQuery(document).ready(function() {
  $("a[data-replace-link-by-spinner]").click(function() {
    id = $(this).parent().attr("id");
    vipnetInterface.remoteStatus.renderSpinner("#" + id);
  })
});
