<div class="nodes__menu">
  <!-- mdl-button--disabled -->
  <button class="mdl-button mdl-js-button mdl-button--icon nodes__menu--button">
    <i class="material-icons">content_copy</i>
  </button>
</div>
