<h1>Networks</h1>

<table border=1>
  <tr>
    <th>id</th>
    <th>vipnet_network_id</th>
    <th>name</th>
  </tr>

  <% @networks.each do |network| %>
    <tr>
      <td><%= network.id %></td>
      <td><%= network.vipnet_network_id %></td>
      <td><%= network.name %></td>
    </tr>
  <% end %>
</table>
