<h3>
  <% if defined?(render_back_button) %>
    <%= link_to "/nodes" do %>
      <i class="material-icons user-registration__back-button ">arrow_back</i>
    <% end -%>
  <% end %>
  <%= text %>
</h3>
