<div class="actions">
  <br />
  <button name="commit" <% if defined?(tabindex) %>tabindex="<%= tabindex %>"<% end %> type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
    <%= text %>
  </button>
</div>
