<td class="mdl-data-table__cell--non-numeric nodes__td">
  <% if value.class == ActiveSupport::TimeWithZone %>
    <% if node["created_first_at_accuracy"] %>
      <span class="nodes__link--hover nodes__hover-for-tooltip"><%= t(".before") %></span>
      <div class="nodes__tooltip created-at__tooltip">
        <%= t(".unknown_date").html_safe %>
      </div>
    <% end %>
    <%= value.strftime("%Y-%m-%d") %>
  <% end %>
</td>
