<td class="mdl-data-table__cell--non-numeric nodes__td">
  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="node-<%= id %>__select" >
    <input type="checkbox" id="node-<%= id %>__select" class="mdl-checkbox__input">
  </label>
</td>
