<td class="mdl-data-table__cell--non-numeric nodes__tickets">
  <% unless tickets == {} %>
    <% links = Array.new %>

    <% tickets.each do |key, ids| %>
      <% next if key == "ids_summary" %>
      <% eval(ids).each do |id| %>
        <% href = key.gsub("#\{id}", id.to_s) %>
        <% links.push("<a href=#{href}>#{id.to_s}</a>") %>
      <% end %>
    <% end %>

    <% if links.size == 1 %>
      <%= links[0].html_safe %>
    <% else %>
      <div name="multi--hover">
        <%= links[0].html_safe %>
      </div>
      <div name="multi--list">
        <% links.each_with_index do |link, i| %>
          <% next if i == 0 %>
          <%= link.html_safe %><br>
        <% end %>
      </div>
    <% end %>
  <% end %>
</td>
