<td class="mdl-data-table__cell--non-numeric nodes__td">
  <% if value && node.category != "server" %>
    <%# id for valid appearence tests %>
    <span id="node-<%= node.id %>__vipnet-version"><%= Node.vipnet_versions_substitute(value) %></span>
  <% end %>
</td>
