<div class="mdl-textfield mdl-js-textfield users__textfield">
  <input class="mdl-textfield__input" value="<%= value %>" name="email" id="<%= id %>" type="text" />
  <label class="mdl-textfield__label" for="<%= id %>"></label>
</div>
