<th class="nodes__th nodes__empty-space-cell">
  <div class="nodes__search-button">
    <button id="nodes__search-button" type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary" tabindex="<%= tabindex %>">
      <i class="material-icons">search</i>
    </button>
    <div class="mdl-tooltip" for="nodes__search-button">
      <%= t(".label") %>
    </div>
  </div>
</th>
