<div name="button--undo">
  <label class="mdl-button mdl-js-button mdl-button--icon mdl-button--primary remote-status__button--undo nodes__hover-for-tooltip">
    <i class="material-icons">undo</i>
  </label>
  <div class="nodes__tooltip remote-status__tooltip">
    <div name="tooltip_text"><%= t(".tooltip_text") %></div>
  </div>
</div>
