<div name="status--true">
  <label class="mdl-button mdl-button--icon mdl-button--primary remote-status__status--true nodes__hover-for-tooltip" disabled>
    <i class="material-icons"><%= icon %></i>
  </label>
  <div class="nodes__tooltip remote-status__tooltip"><%= tooltip_text.html_safe %></div>
</div>
