<div name="spinner">
  <div class="mdl-spinner mdl-js-spinner is-active remote-status__spinner nodes__hover-for-tooltip"></div>
  <div class="nodes__tooltip remote-status__tooltip"><%= t(".wait") %></div>
</div>
