<div name="status--false">
  <label class="mdl-button mdl-button--icon mdl-button--accent remote-status__status--false nodes__hover-for-tooltip" disabled>
    <i class="material-icons">error</i>
  </label>
  <div class="nodes__tooltip--hoverable remote-status__tooltip">
    <div name="tooltip_text"></div>
    <span name="fullscreen_tooltip_trigger" class="nodes__link--same-page"><%= t(".more") %></span>
  </div>
</div>
