@import "_shared";

$auth-textfield-width: 350px;
$error-color: #c30;

.auth__textfield {
  padding: 20px 0px 0px 0px;
  width: $auth-textfield-width;
}

.auth__label::after {
  position: absolute;
  bottom: 0px;
}

.auth__form {
  width: $auth-textfield-width;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px;
  background-color: $form-inside-bgcolor;
  &--outside {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(black, 0.85);
  }
  & a {
    text-decoration: none;
    color: $main-link-color !important;
    &:hover {
      color: $main-link-color-hover !important;
    }
  }
  & h3 {
    color: $main-text-color;
  }
  & span.error {
    color: $error-color;
  }
}

.user-registration__back-button {
  color: $gray-icon-color !important;
  font-size: 24px;
  display: inline-block;
}

.locale {
  margin-bottom: 20px;
  & label {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    background: $form-inside-bgcolor;
  }
  & > input {
    display: none;
  }
}

.locale input[type="radio"]:checked + label {
  background: $primary-color;
  color: white;
}
