@import "_shared";

body {
  background-color: $body-bgcolor;
}

.tooltip--creation-date {
  width: 160px;
  left: -60px;
  top: 40px;
}

.nodes__link--hover {
  border-bottom: 1px dotted #000;
  text-decoration: none;
  cursor: pointer;
}
