<% if @user_session.errors.any? %>
  <% @user_session.errors.messages.each do |messages| %>
    <% messages[1].each do |message| %>
      <span class="error">
        <% entity = t("authlogic.attributes.user_session.#{messages[0]}") %>
        <%= entity %>
        <%= message %>
      </span>
    <% end %>
  <% end %>
<% end %>
